#student-form button {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

#student-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin-top: 16px;
}

@media (max-width: 1024px) {
    #student-details {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    #student-details {
        grid-template-columns: 1fr;
    }
}